[submodule "extern/Universal-Image-Loader"]
	path = extern/UniversalImageLoader
	url = https://github.com/nostra13/Android-Universal-Image-Loader
	ignore = dirty
[submodule "extern/MemorizingTrustManager"]
	path = extern/MemorizingTrustManager
	url = https://github.com/ge0rg/MemorizingTrustManager.git
	ignore = dirty
[submodule "extern/AndroidPinning"]
	path = extern/AndroidPinning
	url = https://gitlab.com/fdroid/androidpinning.git
	ignore = dirty
[submodule "extern/nanohttpd"]
	path = extern/nanohttpd
	url = https://github.com/eighthave/nanohttpd
	ignore = dirty
[submodule "extern/libsuperuser"]
	path = extern/libsuperuser
	url = https://github.com/dschuermann/libsuperuser.git
	ignore = dirty
[submodule "extern/jmdns"]
	path = extern/jmdns
	url = https://gitlab.com/fdroid/jmdns.git
