<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.fdroid.fdroid" android:versionCode="2"
	android:versionName="0.11">
	<application android:label="@string/app_name"
			android:icon="@drawable/icon">
		<activity android:name="FDroid">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="ManageRepo" />
		<activity android:name="Settings" />
		<activity android:name="AppDetails" />
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest> 
