<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Some Android ROMs still require Bluetooth permission above SDK 30 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- used only for finding other devices to swap apps with -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission-sdk-23
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="MissingApplicationIcon">

        <activity
            android:name=".fdroid.nearby.SwapWorkflowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/swap"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App" />

        <activity
            android:name=".ui.panic.PanicActivity"
            android:exported="true"
            android:label="@string/panic_settings"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.CONNECT" />
                <action android:name="info.guardianproject.panic.action.DISCONNECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.panic.PanicResponderActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">

            <!-- this can never have launchMode singleTask or singleInstance! -->
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.panic.ExitActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <activity
            android:name=".ui.ipfs.IpfsGatewaySettingsActivity"
            android:configChanges="layoutDirection|locale"
            android:exported="false"
            android:label="@string/ipfsgw_title"
            android:launchMode="singleTask" />

        <!--https://developer.android.com/guide/components/broadcast-exceptions -->
        <receiver
            android:name=".fdroid.nearby.UsbDeviceAttachedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </receiver>
        <receiver
            android:name=".fdroid.nearby.UsbDeviceDetachedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter" />
        </receiver>
        <receiver
            android:name=".fdroid.nearby.UsbDeviceMediaMountedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />

                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name=".fdroid.nearby.SwapService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        <service
            android:name=".fdroid.nearby.LocalRepoService"
            android:exported="false" />
        <service
            android:name=".fdroid.nearby.TreeUriScannerIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".fdroid.nearby.SDCardScannerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>
